<!doctype html>
<title>Flaskr</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class="page" style="background:black; padding:20px">
	<div style="text-align:center">
	<img src="http://www.capitalone.io/assets/img/big_logo.png" style="width:20%">
	
  <h1 style="color:white;margin-top:15px;font-family:CALIBRI LIGHT;">ACCOUNT SELECTION</h1>
  </div>
  <div style="margin-bottom:15px;margin-top:20px">
  {% for account in accounts %}
	<div style="text-align:center">
    <a class = "btn btn-primary" href="{{ url_for("view_transactions", account_id=account["_id"]) }}" style="margin:7px; background-color: #a01d26; border-color: #a01d26">
		{{ account["nickname"] }} ({{ account["type"] }})
	</a>
	</div>
  {% endfor %}
  </div>
</div>
