<!DOCTYPE html>
<html lang="en">

<head>

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{url_for('static', filename='agency.css')}}" rel="stylesheet">

</head>

<body>

	<ul class="timeline">
		<li class="timeline-inverted">
			<div class="timeline-image">
				<h4>Be Part
					<br>Of Our
					<br>Story!</h4>
			</div>
		</li>
		<li class="timeline-inverted">
			<div class="timeline-image">
				<h4>Be Part
					<br>Of Our
					<br>Story!</h4>
			</div>
		</li>
	</ul>


</body>

</html>
