<!DOCTYPE html>
<meta charset="utf-8">
<style>

.node circle {
  cursor: pointer;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node text {
  font: 13px georgia;
  color: white;
  pointer-events: none;
  text-anchor: middle;
}

line.link {
  fill: none;
  stroke: #fff;
  stroke-width: 10 px;
}
body{ margin: 2em auto; width: 700px; border: 5px solid #ccc;
    background: white; }
.page{background:black}

</style>
<body style="text-align:center">
<div class="page">
</div>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>

var width = 600,
    height = 450,
    root;

var force = d3.layout.force()
    .linkDistance(160)
    .charge(-1000)
    .gravity(0)
    .size([width, height])
    .on("tick", tick);

var svg = d3.select(".page").append("svg")
    .attr("width", width)
    .attr("height", height);
	

var link = svg.selectAll(".link"),
    node = svg.selectAll(".node");
	
d3.json("{{ url_for('account_json', account_id=account_id) }}", function(error, json) {
  if (error) throw error;

  root = json;
  root.fixed=true;
  root.x=width/2;
  root.y=height/2-3;
  update();
});

function update() {
  var nodes = flatten(root),
      links = d3.layout.tree().links(nodes);

  // Restart the force layout.
  force
      .nodes(nodes)
      .links(links)
      .start();

  // Update links.
  link = link.data(links, function(d) { return d.target.id; });

  link.exit().remove();

  link.enter().insert("line", ".node")
      .attr("class", "link");

  // Update nodes.
  node = node.data(nodes, function(d) { return d.id; });

  node.exit().remove();

  var nodeEnter = node.enter().append("g")
      .attr("class", "node")
      .on("click", click)
	  .on("mouseover", mouseover)
	  .on("mouseout", mouseout)
      

  nodeEnter.append("circle")
      .attr("r", sizing);
      // .attr("cx", function(d) {return d.x})
      // .attr("cy", function(d) {return d.y});
  nodeEnter.append("text")
      .attr("dy", ".35em")
	  .style("fill", color2)
      .text(function(d) { return d.name; });

  node.select("circle")
      .style("fill", color);
}

function tick() {
  link.attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });

  node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
}

function color(d) {
  return d._children ? "#a01d26" // collapsed package
      : d.children ? "#fff" // expanded package
      : "#a01d26"; // leaf node
}

function color2(d){
	  return d._children ? "#fff" // collapsed package
      : d.children ? "#000" // expanded package
      : "#fff"; // leaf node
}

// Toggle children on click.
function click(d) {
  window.location=d.page;
}
function mouseover(d) {
	d3.select(this).select('text')
	   .transition()
	   .duration(300)
	   .text(function(d){
		   return "$" + d.amount;
		 })
	   .style("font-size","13px");
	d3.select(this).select('circle')
          .transition()
          .duration(300)
          .attr("r", function(d){return sizing(d)+5;})
}
function mouseout(d) {  
         d3.select(this).select('text')
           .transition()
           .duration(300)
           .text(function(d){
               return d.name;
             })
           .style("font-size","13px")
        d3.select(this).select('circle')
          .transition()
          .duration(300)
          .attr("r", sizing);
           
  }

// Returns a list of all nodes under the root.
function flatten(root) {
  var nodes = [], i = 0;

  function recurse(node) {
    if (node.children) node.children.forEach(recurse);
    if (!node.id) node.id = ++i;
    nodes.push(node);
  }

  recurse(root);
  return nodes;
}
function sizing(d){
  if(d.amount>100 && d.amount<2000){
	console.log((d.amount-100)/40+40);
    return (d.amount-100)/40+40;
  }
  else if(d.size>=2000){
	console.log(80);
    return 80;
  }
  else {
	console.log(40);
    return 40;
  }
}


</script>
</body>